
/* partenaires */
.partenaires{ /* align the images to the left with no space between them */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 70px;
    background-color: #000000;
}

.partenaires h2{
    color: #ffffff;
    font-family: librebaskerville-bold,Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0;
}

.partenaires-img{
    /*if there is too many images, they will be on the next line*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2px;
    margin: 0;
    width: 100%;
}
.partenaires-img img{
    /* place the image in the center of the a */
    display: block;
    width: 10em;

}
.partenaires-img a{
    margin: 0;
    padding: 0;

}

.partenaires img:hover{
    /* when we hover the image, it will be bigger */
    transform: scale(1.1);
    transition: transform 0.3s ease-out;
}

/* footer */
.footer{
    border-top:1px solid #ffffff;
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #000000;
    text-align: center;
    padding: 30px;
    margin: 0;
}
.text-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:5px;
    padding: 0;
    margin: 0;
}

.footer h2{
    /* change the size*/
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.footer img{
    width: 30px;
    height: 30px;
    margin: 0 10px;
}