/* font import */
@font-face {
    font-family: "librebaskerville-regular";
    src: url("../fonts/librebaskerville-regular-webfont.woff2") format("woff2"),
         url("../fonts/librebaskerville-regular-webfont.woff") format("woff");
}

@font-face {
    font-family: "librebaskerville-italic";
    src: url("../fonts/librebaskerville-italic-webfont.woff2") format("woff2"),
         url("../fonts/librebaskerville-italic-webfont.woff") format("woff");
}

@font-face {
    font-family: "librebaskerville-bold";
    src: url("../fonts/librebaskerville-bold-webfont.woff2") format("woff2"),
         url("../fonts/librebaskerville-bold-webfont.woff") format("woff");
}

/* animations */
@keyframes fadeintop {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeinright {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeinbottom {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

header{
    z-index: 10;
}

/* top header */
.top_header{
    display: none;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin: 0;
}
.top_header p{
    font-family:Inter, Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    padding: 0;
    margin: 0;
    /* only one line */
    white-space: nowrap;
    /* reduce the size of the div to match the text */
    width: fit-content;
}

.top_header img {
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.top_header a img{
    width: 20px;
    height: 20px;
    transition: all 0.2s ease-in-out;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.top_header a img:hover{
    cursor: pointer;
    transform: scale(1.2);
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: all 0.2s ease-in-out;

}

/* bottom header */

.bottom_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

    /* logo */

    .logo a{
        /* flexbox */
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        padding : 8px;
        text-decoration: none;
    }

    .logo img{ /* curvy logo */
        width: 60px;
        height: 60px;
        border-radius: 25%;

        animation: fadeintop 1s;
        animation-fill-mode: forwards;
        opacity:0;
        animation-delay: 0s;
    }

    .logo-text{
        /* text at the top */
        color: #000000;
        font-family: librebaskerville-bold, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: left;

        animation: fadeintop 1s;
        animation-fill-mode: forwards;
        opacity:0;
        animation-delay: 0.2s;
    }

    /* menu */
    .menu{
        display:none;
    }





#sidebarMenu {
    z-index: 10;
    height: 100%;
    position: fixed;
    right: 0;
    width: 250px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #987253 0%, #b4a86d 100%);
}

.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    right: 23px;
    width: 27px;

    animation: fadeinright 1s;
    animation-fill-mode: forwards;
    opacity:0;
    animation-delay: 0.6s;
}



.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000000;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.openSidebarMenu:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
.openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
.openSidebarMenu:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}






/* media queries */
@media screen and (min-width: 850px){
    .sidebarIconToggle{
        display: none;
    }

    .menu{
        font-family: librebaskerville-regular,Arial, Helvetica, sans-serif;
        font-size: 15px;
        padding: 30px;
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        list-style: none;
    }

    .menu a{
        text-decoration: none;
        display: inline-block;
        position: relative;
        color: #000000;
    }

    .menu a::after{
        content: '→';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    .menu a:hover::after{
        /* when we hover the menu, it be with a animation from left to right */
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .menu a.active{
        font-weight: bold;
        text-decoration: none;
        pointer-events: none;
    }

    /* animations of the menu (each li apears 0.2 seconds after the other) */
    .menu li:nth-child(1){
        animation: fadeinbottom 1s;
        animation-fill-mode: forwards;
        opacity:0;
        animation-delay: 0.4s;
    }
    .menu li:nth-child(2){
        animation: fadeinbottom 1s;
        animation-fill-mode: forwards;
        opacity:0;
        animation-delay: 0.6s;
    }

.menu li:nth-child(3){
        animation: fadeinbottom 1s;
        animation-fill-mode: forwards;
        opacity:0;
        animation-delay: 0.8s;
    }

    .menu li:nth-child(4){
        animation: fadeinbottom 1s;
        animation-fill-mode: forwards;
        opacity:0;
        animation-delay: 1s;
    }

    .menu li:nth-child(5){
        animation: fadeinbottom 1s;
        animation-fill-mode: forwards;
        opacity:0;
        animation-delay: 1.2s;
    }

    .menu li:nth-child(6){
        animation: fadeinbottom 1s;
        animation-fill-mode: forwards;
        opacity:0;
        animation-delay: 1.4s;
    }

    .menu li:nth-child(7){
        animation: fadeinbottom 1s;
        animation-fill-mode: forwards;
        opacity:0;
        animation-delay: 1.6s;
    }
}