name: Deploy Keroguic

on:
  push:
    branches:
      - prod

jobs:
  Deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Connect to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            echo " ------ Connected to server ------"
            cd /opt/apps/keroguic
            echo "------ Pulling changes ------"
            git pull origin prod
            echo "------ Restarting Docker containers ------"
            docker-compose down
            docker-compose up -d --build
            echo "------ Deployment completed ------"
